<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Video-Calling-App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            const ROOM_ID = ("<%= roomId %>");
            
                      
        </script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
        <script src = "/socket.io/socket.io.js" defer></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
        <script src= "script.js" defer></script>
        <style>
            #video-grid{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            video{
                height: 350px;
                width: 400px;
                object-fit: contain;
                padding: 10px;
                transform:scaleX(-1)
                

            }
        </style>
    </head>
    <body>
            <div class="main">
                <div class="main__left">
                    <div class = "main__controls__buttons">
                       <span id="startScreen" class="main__control__screen" style="font-size: 30px; color: white;">
                        <i class=" fas fa-desktop"></i>
                        <span style="font-size:15px">Share Screen</span>
                       </span>
                        
                        <span id="start" class="main__record__button" style="font-size: 30px; color: white;">
                           <i  class="fas fa-record-vinyl" style="size: 2rem; color:white"></i>
                           <span style="font-size:15px;color:white ">Record</span>    
                        </span>
                       
                   </div>
                    <div class="main__videos">

                         <div id="video-grid">

                         </div>
                         
                    </div>
                    <video class="record__video" width="120" height="80" controls style="visibility:hidden;">
                        <source type="video/mp4">
                        <source type="audio/mp3">
                    </video>
                        <div class="main__controls">
                        <div class="main__controls__block">
                            <div onclick="muteUnmute()" class="main__controls__button main__mute_button">
                                <i class=" fas fa-microphone"></i>
                                <span>Mute</span>
                            </div>
                            <div onclick="playStop()" class="main__controls__button main__video_button" >
                                <i class="fas fa-video"></i>
                                <span>Stop Video</span>
                             </div>
                             <span id="stop" class="main__controls__button main__record__button" style="color: white;visibility:hidden;">
                                <i class="unmute fas fa-stop"></i>
                                <span style="font-size:18px">Stop</span>
                            </span>
                            <div class="main__controls__button main__controls__ppl">
                               <i class="fas fa-user-friends"></i>
                               <span>Participants</span>
                            </div>
                            <div class="main__controls__button main__controls__chat">
                               <i class="fas fa-comment-alt"></i>
                               <span>Chat</span>
                            </div>
                            <span class="main__controls__button">
                                <i class = "fas fa-flashlight"></i>
                                <span class = "main__torch">Torch</span>
                            </span>
                            <div onclick="leaveMeet()" class="main__controls__button">
                               <span  class="leave_meeting">Leave Meeting</span>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="main__right">
                    <div class = "chat">
                            <div class="main__header">
                                <h6>Chat</h6>
                            </div>
                        <div class="main__chat_window">
                        <ul class="messages">
                            
                        </ul>
            
                        </div>
                        <div class="main__message_container">  
                            <input id="chat_message" type="text" placeholder="Type message here...">
                            <form id="uploadForm" action="http://localhost:3000/api/file" enctype="multipart/form-data" method="post">
                                
                                <input type="file" name="userFile" class = "file__input" />
                                <button class = "btn btn-info btn3" type="submit" value="Upload File" name="submit">Upload File</button>
                            </form>
                        </div>
                    </div>
                        <div style = "display: none" class="userslist">
                            <div class="usersList__scroll">
                                <ul class="main__right__usersList">
                                    List of users
                                </ul>
                                <form method="GET" action="http://localhost:3000/atte">
                                    <button class="btn btn-info" type="submit">Attendance</button>
                                </form>
                                <form method="GET" action="#">
                                    <button class="btn btn-dark" type="submit">Refresh</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
    </body>
    
</html>