<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigin</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styleSign.css">
    <script>
        const err ="<%= error %>"
        let USER = Data.username;
        let host = Data.host;
    </script>
</head>
<body>
    <p class="text-danger"><%= error %></p>
    <div class="card">
        <form method="POST" action="http://localhost:3000/">
            <label>Username</label>
            <input required class="form-control" type="text" placeholder="Enter your name" name="username" id="username" />
            <label>RoomId</label>
            <input class="form-control" required type="text" placeholder="Enter Roomid" name="roomid" id="roomid" />
            <button class="btn btn-info btn1">Join</button>
        </form>
        <span></span>
        <form method="POST" action="http://localhost:3000/name/room">
            <label>Username</label>
            <input class="form-control"  placeholder="Enter your name" required type="text" name="host" />
            <button class="btn btn-warning btn2">Create New Room</button>
        </form>
    </div>
</body>
</html>