* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.main {
  height: 100vh;
  display: flex;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}
.main__right {
  flex: 0.2;
}

.main__videos {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  padding: 40px;
  overflow-y: scroll;
}

.main__controls__buttons {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
}

.main__controls__buttons > .main__controls__record {
  right: 0px;
}

.main__controls {
  background-color: #1c1e20;
}

.main__right {
  color: white;
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}

.main__controls {
  color: #d2d2d2;
  background-color: #3d3d42;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
}

.main__controls__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main__controls__button i {
  font-size: 24px;
}

.main__right {
  display: flex;
  flex-direction: column;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main__header {
  display: flex;
  padding-top: 5px;
  color: #f5f5f5;
  text-align: center;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  color: white;
  list-style: none;
}

.main__message_container {
  position: relative;
  background-color: #3d3d42;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}

.main__message_container input {
  position: relative;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
  margin-bottom: 10px;
}

.main__message_container > #uploadForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  bottom: 0px;
  background-color: inherit;
}

.main__message_container .btn {
  padding-top: 10px;
  margin-top: 10px;
  color: aqua;
}

.leave_meeting {
  color: #eb534b;
}

.unmute,
.stop {
  color: #cc3b33;
}

.userslist {
  list-style: none;
  font-size: 15px;
  margin: 5px;
  cursor: pointer;
  padding-bottom: 10px;
  flex-grow: 1;
  flex: 1;
  display: flex;
  flex-direction: row;
}
li i {
  margin: 6px;
}
.usersList__scroll {
  display: flex;
  justify-content: space-between;
}
